@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Saira Condensed";
  src: url("../public/fonts/Saira.ttf");
}

@font-face {
  font-family: "Saira Condensed Light";
  src: url("../public/fonts/Saira-ExtraLight.ttf");
}

@font-face {
  font-family: "IBMP";
  src: url("../public//fonts/IBMPlexSans-Light.ttf");
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: center;
}

.swiper-pagination-progressbar-fill {
  border: 2px solid #e20437;
  border-radius: 5px;
}

.swiper-pagination-progressbar {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
